<%-include("partials/header")-%>

<title>About Us</title>

<link rel="stylesheet" href="/css/about.css">
  <main>
    <section id="about-us">
      <h1>About Us</h1>
      <p>At Study Hub, we are passionate about helping students learn and grow. Our mission is to provide an online platform
        where students can access valuable resources, ask questions, and connect with each other to enhance their education
        experience. </p>
      <p>Our team is made up of experienced educators and developers who share a common goal of providing the best possible
        resources for students. We believe that everyone should have access to high-quality education, and we strive to
        make that a reality through our platform. </p>
    </section>
  </main>



<%-include("partials/footer")-%>
