<%-include("partials/header")-%>
<div class="home">
    
    
    <div class="box">
        
    
        <section>
           <img class="img_pos" src="images\home.png" alt="" width="1000",heigth="500">
           <button class="btngrp" id="grp" role="button" type="submit" onclick="window.location.href='grp';">Create a Group</button>
           
        </section>
        
    </div>


</div>

<%-include("partials/footer")-%>
