<%-include("partials/header")-%>

<div>
	<title>Resource Library</title>
    <link rel="stylesheet" type="text/css" href="/css/resources.css">
  </head>
  <body>
    <header>
      <h1>Resource Library</h1>
    </header>
    <div id="resource-list">
      <h2>PDF Resources</h2>
      <ul>
        <li class="pdf"><a href="https://drive.google.com/file/d/1hTD68sJchld4QlwjlzxSZdJl504NQqCR/view">SED UNIT-5 notes</a></li>
        <li class="pdf"><a href="https://drive.google.com/file/d/1AmlTDjKNekg_N0E8XLb2Yp8UL1Hmk4W-/view">Relationships(SED)</a></li>
      </ul>
      <h2>Other Resources</h2>
      <ul>
        <li class="pdf">Resource 1</li>
        <li class="pdf">Resource 2</li>
        <li class="pdf">Resource 3</li>
      </ul>
    </div>
</div>
  

